body{
	font-family: 'Poppins', sans-serif;
}

a{
	text-decoration: none;
	color: black;
}

@media (max-width: 720px){
	.navbar{
		display: none;
	}

	.mobile{
		position: absolute;
		display: block;
		z-index: 1;
		top: 0;
		background-color: white;
		height: 100%;
		width: 40%;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}

	.mobile ul{
		margin-top: 50%;
	}
}
