body{
	font-family: 'Poppins', sans-serif;
}

a{
	text-decoration: none;
	color: black;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.nav-top strong{
	color: red;
}

.nav-link{
	color: black;
}

.navbar .active .nav-link{
	font-weight: bold;
	color: red;
}

@media (max-width: 720px){
	.navbar{
		display: none;
	}

	.mobile{
		position: absolute;
		display: block;
		z-index: 1;
		top: 0;
		background-color: white;
		height: 100%;
		width: 40%;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	}

	.mobile ul{
		margin-top: 50%;
	}
}
/*--------------------------------------------------------------
# End Navbar
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer ul{
	list-style: none;
}

footer .fa-chevron-right{
	font-size: 11px;
}

footer ul li{
	padding: 5px 0px;
}

footer a:hover{
	color: red;
}
/*--------------------------------------------------------------
# End Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# 
--------------------------------------------------------------*/